/*--------------------
CSS color changer
-----------------------*/
body.green-color-body {
  /*-----------------------------------
  Theme Background color
  -----------------------------------*/
  /*-----------------------------------
  Theme color
  -----------------------------------*/
  /*-----------------------------------
  Theme Hover background color
  -----------------------------------*/
  /*-----------------------------------
  Theme Hover color
  -----------------------------------*/
  /*-------------------------------------
  Theme Border color
  --------------------------------------*/
  /*Theme opacity colot setting*/
}
body.green-color-body .error-page-area .error-page,
body.green-color-body .header-area .main-menu ul li.active a::after,
body.green-color-body .header-area .main-menu ul li a::after,
body.green-color-body .footer-top .widget .widget-title::after,
body.green-color-body .footer-top .widget .social-media ul li a:hover,
body.green-color-body .contact-page-area .total-contact-form .contact-form h3::after,
body.green-color-body .contact-page-area .total-contact-form .contact-information,
body.green-color-body .preview-2 .nivo-directionNav a.nivo-nextNav:hover::before {
  background: #197519;
}
body.green-color-body .header-area .main-menu ul li.active a,
body.green-color-body .page-header-area ul li:last-child,
body.green-color-body .footer-top .widget.single-footer2 ul li::after,
body.green-color-body .footer-top .widget.single-footer2 ul li a:hover,
body.green-color-body .page-header-area ul li:last-child,
body.green-color-body .page-sidebar-area .single-sidebar .serach-box button i,
body.green-color-body .page-sidebar-area .single-sidebar h3::after,
body.green-color-body .blog-page .blog-content .single-blog .blog-info ul li span,
body.green-color-body .page-sidebar-area .single-sidebar .sidebar-recent-post .single-post .media-body h4 a:hover,
body.green-color-body .page-sidebar-area .single-sidebar ul li a::before,
body.green-color-body .home-about-area .about-content h3 span,
body.green-color-body .about-page-srill-area .about-page-service .single-services a i,
body.green-color-body .about-page-srill-area .about-page-service .single-services h3 a:hover,
body.green-color-body .project-activation-area.about-us-counter .about-counter-list i,
body.green-color-body .preview-2 .nivo-directionNav a.nivo-prevNav::before,
body.green-color-body .preview-2 .nivo-directionNav a.nivo-nextNav::before,
body.green-color-body .home-page-services-area .single-service a i,
body.green-color-body .home-page-services-area .single-service:hover h3 a,
body.green-color-body .home-testimonial-area .home-testimonial .tab-content .tab-pane .client-info h4,
body.green-color-body .client-testimonial-area .single-testimonial .testimonial-content a:hover,
body.green-color-body .about-counter-list i,
body.green-color-body .why-smartiot-today .smartiot-today-content h2 span,
body.green-color-body .why-smartiot-today .smartiot-today-content ul li .single-list ul li::after,
body.green-color-body .awesome-process-area .awesome-process-content h2 span {
  color: #197519;
}
body.green-color-body .error-page-area .error-page-message .home-page a:hover,
body.green-color-body .call-top-action .subscribe-now a:hover,
body.green-color-body footer .footer-top-area .main-footer .single-footer .footer-social-media-area ul li a:hover,
body.green-color-body .main-header-area .main-menu ul li:hover,
body.green-color-body .home-about-area .about-content-area .botton-area a:hover,
body.green-color-body .home-callback-area .call-back-form fieldset .form-group button.btn-send:hover,
body.green-color-body .total-blog-area .single-blog-post .download a:hover,
body.green-color-body .single-news-page-area .leave-comments-area fieldset .btn-send:hover,
body.green-color-body .contact-us-page-area .leave-comments-area fieldset .btn-send:hover,
body.green-color-body .page-sidebar-area .single-sidebar h3::after,
body.green-color-body .blog-page .blog-content .single-blog .blog-image span,
body.green-color-body .pagination-area ul li.active a,
body.green-color-body .single-blog .leave-comments-area fieldset .form-group .btn-send,
body.green-color-body .services-page .single-service .read-more a,
body.green-color-body .our-work-three .work-column-menu ul li.active,
body.green-color-body .our-work-three .work-column-menu ul li:hover,
body.green-color-body .our-work-three .home1-recent-work .single-recent-work .recent-work-images .work-details,
body.green-color-body .home-about-area .about-content .about-content-list .single-list .media .pull-left a,
body.green-color-body .about-page-srill-area .about-page-service .single-services h3 a::after,
body.green-color-body .about-page-srill-area .about-skrill-area .skill .progress .progress-bar,
body.green-color-body .project-activation-area.about-us-counter,
body.green-color-body .owl-theme .owl-controls .owl-buttons div,
body.green-color-body .preview-2 .nivo-directionNav a.nivo-prevNav::before,
body.green-color-body .preview-2 .nivo-directionNav a.nivo-prevNav:hover::before,
body.green-color-body .slider-area .slider-2 div.slider-botton ul li.acitve a,
body.green-color-body .home-page-services-area .single-service h3 a::after,
body.green-color-body .client-testimonial-area .single-testimonial .testimonial-content a,
body.green-color-body .awesome-process-area .awesome-process-menu ul.nav-tabs li.active a {
  background: #145D14;
}
body.green-color-body .header-area .menu-right ul li i:hover,
body.green-color-body .header-area .main-menu ul li a:hover,
body.green-color-body .footer-bottom .footer-copy-right p a:hover,
body.green-color-body .page-sidebar-area .single-sidebar ul li a:hover,
body.green-color-body .pagination-area ul li a:hover,
body.green-color-body .single-blog .quoate p i,
body.green-color-body .single-blog .blog-more-informations h2,
body.green-color-body .single-blog .about-author-post .single-author-post .media .media-body h4.media-heading,
body.green-color-body .single-blog .author-comment .single-author-comment .media .media-body h4.media-heading,
body.green-color-body .single-blog .author-comment .single-author-comment .media .media-body ul li.right i,
body.green-color-body .single-portfolio-area .portfolio-content .services-list ul li::after,
body.green-color-body .single-portfolio-area .portfolio-content .porfolio-informations ul li span,
body.green-color-body .single-team-page .single-team-content-area .designation p,
body.green-color-body .single-team-page .single-team-content-area .team-information ul li i,
body.green-color-body .related-team-member .related-team .single-team .team-image .overley .team-info p.designation,
body.green-color-body .related-team-member .related-team .single-team .team-details p,
body.green-color-body .home-team-area .single-team .team-details p,
body.green-color-body .home-team-area .single-team .team-image .overley .team-info h3 a:hover,
body.green-color-body .home-team-area .single-team .team-details h3 a:hover,
body.green-color-body .services-page .single-service h3 a:hover,
body.green-color-body .home-about-area .about-content .about-content-list .single-list .media .media-body h4.media-heading a:hover,
body.green-color-body .home-feature-services-area .single-services a i,
body.green-color-body .home-advertise-area .advertise-checkout a:hover,
body.green-color-body .home-feature-services-area .single-services:hover h3 a,
body.green-color-body .awesome-process-area .awesome-process-menu ul.nav-tabs li a,
body.green-color-body .awesome-process-area .awesome-process-menu .tab-content .tab-pane h3 a:hover,
body.green-color-body .home-blog-area .single-blog h3 a:hover,
body.green-color-body .home-blog-area .single-blog .blog-info span {
  color: #145D14;
}
body.green-color-body .error-page-area .error-page,
body.green-color-body .footer-top .widget .social-media ul li a,
body.green-color-body .related-team-member .related-team .single-team .team-image .overley .team-info ul li a,
body.green-color-body .home-team-area .single-team .team-image .overley .team-info ul li a,
body.green-color-body .header-area .main-menu ul li ul li,
body.green-color-body .our-work-three .work-column-menu ul li,
body.green-color-body .slider-area .slider-2 div.slider-botton ul li a,
body.green-color-body .home-testimonial-area .home-testimonial .client-nav ul.nav-tabs li.active a img,
body.green-color-body .awesome-process-area .awesome-process-menu ul.nav-tabs li.active a,
body.green-color-body .awesome-process-area .awesome-process-menu ul.nav-tabs li a {
  border-color: #197519;
}
body.green-color-body .footer-top .widget.single-footer4 .btn-send,
body.green-color-body #scrollUp,
body.green-color-body .error-page-area .error-page a,
body.green-color-body .contact-page-area .total-contact-form .contact-form .main-contact-form fieldset .btn-send,
body.green-color-body .single-team-page .team-feature .single-team-feature .media .pull-left i,
body.green-color-body .related-team-member .related-team .owl-controls .owl-buttons .owl-prev:hover,
body.green-color-body .related-team-member .related-team .single-team .team-image .overley .team-info ul li a:hover,
body.green-color-body .home-team-area .single-team .team-image .overley .team-info ul li a:hover,
body.green-color-body .slider-area .slider-2 div.slider-botton ul li a:hover,
body.green-color-body .home-feature-services-area .single-services h3 a::after,
body.green-color-body .home-advertise-area,
body.green-color-body .awesome-process-area .awesome-process-menu ul.nav-tabs li::after,
body.green-color-body .awesome-process-area .awesome-process-menu ul.nav-tabs li a:hover,
body.green-color-body .video-section a::after,
body.green-color-body .home-blog-area .single-blog .blog-image span {
  background: rgba(25, 117, 25, 0.5);
}
